#body{
    border: 1px solid black;
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
}

#logo{
    width: 240px;
    height: 150px;
}
#hyperlinkDiv{
    text-align: center;
}
#hyperlinkDiv a{
    font-size: 18pt;
    font-family: Monotype Corsiva;
}

#footer{
    background-color: blue;
    color: white;
    width: 85.2%;
    height: 40px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
#campus{
    font-size: 20pt;
    margin-top: 40pt;
}

